In [0]:
import io
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.svm import SVR
import numpy as np
from sklearn import ensemble
from sklearn.pipeline import FeatureUnion
from sklearn.feature_extraction.text import CountVectorizer

# A Kernel for the 'Is this joke funny?' competition on AnalyticsVidhya'

Jokes given by the users provided the ratings provided by the same users for another set of jokes. This dataset is taken from the famous jester online Joke Recommender system dataset.

In [0]:
from google.colab import files
uploaded = files.upload()

Saving jokes.csv to jokes.csv
Saving test.csv to test.csv
Saving train.csv to train.csv

# New Section

In [0]:
data = io.BytesIO(uploaded['jokes.csv']) 
data2 = io.BytesIO(uploaded['train.csv']) 
data3 = io.BytesIO(uploaded['test.csv'])

In [0]:
df= pd.read_csv(data)
df2= pd.read_csv(data2)
df_t = pd.read_csv(data3)

In [0]:
df.head()

   joke_id                                          joke_text
0        1  Q. What's O. J. Simpson's web address? A. Slas...
1        2  How many feminists does it take to screw in a ...
2        3  Q. Did you hear about the dyslexic devil worsh...
3        4  They asked the Japanese visitor if they have e...
4        5  Q: What did the blind person say when given so...

In [0]:
df2.head()

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094
2    23098_6    23098        6  -6.438
3   14273_86    14273       86   4.406
4  18419_134    18419      134   9.375

In [0]:
union = FeatureUnion([("tfv", tfv.fit(list(xtrain) + list(xvalid))),
                      ("normal", list(dfz.id.values))])

AttributeError: ignored

In [0]:
df3= pd.merge(df, df2, on="joke_id")

In [0]:
df3.head()

,joke_id,joke_text,id,user_id,Rating
0,1,Q. What's O. J. Simpson's web address? A. Slas...,41_1,41,3.062
1,1,Q. What's O. J. Simpson's web address? A. Slas...,282_1,282,1.062
2,1,Q. What's O. J. Simpson's web address? A. Slas...,117_1,117,-8.469
3,1,Q. What's O. J. Simpson's web address? A. Slas...,259_1,259,2.688
4,1,Q. What's O. J. Simpson's web address? A. Slas...,167_1,167,8.125

In [0]:
dfz=df3.groupby(['joke_id','joke_text'], as_index= False)['Rating'].mean().rename(columns={'Rating':'Avg_Rating'})

In [0]:
dfz.head()

   joke_id                                          joke_text  Avg_Rating
0        1  Q. What's O. J. Simpson's web address? A. Slas...   -2.246770
1        2  How many feminists does it take to screw in a ...   -1.933251
2        3  Q. Did you hear about the dyslexic devil worsh...   -0.671942
3        4  They asked the Japanese visitor if they have e...   -0.604674
4        5  Q: What did the blind person say when given so...   -1.415667

In [0]:
y = dfz.Avg_Rating.values

In [0]:
xtrain, xvalid, ytrain, yvalid = train_test_split(dfz.joke_text.values, y, 
                                                  random_state=42, 
                                                  test_size=0.3, shuffle=True)

In [0]:
tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3), use_idf=1,smooth_idf=1,sublinear_tf=1,
            stop_words = 'english')

In [0]:
tfv.fit(list(xtrain) + list(xvalid))
xtrain_tfv =  tfv.transform(xtrain) 
xvalid_tfv = tfv.transform(xvalid)

In [0]:
xtrain_tfv

<97x302 sparse matrix of type '<class 'numpy.float64'>'
	with 1085 stored elements in Compressed Sparse Row format>

In [0]:
clf = LinearRegression()
clf.fit(xtrain_tfv, ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [0]:
predictions = clf.predict(xvalid_tfv)

In [0]:
mean_squared_error(yvalid, predictions)

2.5431192010824257

In [0]:
mean_squared_error(yvalid, predictions)

2.5431192010824257

In [0]:
df_t.head()

          id  user_id  joke_id
0    6194_11     6194       11
1    19356_3    19356        3
2   23426_79    23426       79
3    40030_3    40030        3
4  19806_115    19806      115

In [0]:
dfs = pd.merge(df_t, df, on="joke_id")

In [0]:
dfs.head()

,id,user_id,joke_id,joke_text
0,6194_11,6194,11,What's the difference between a used tire and ...
1,13494_11,13494,11,What's the difference between a used tire and ...
2,35167_11,35167,11,What's the difference between a used tire and ...
3,25066_11,25066,11,What's the difference between a used tire and ...
4,25103_11,25103,11,What's the difference between a used tire and ...

In [0]:
test_tfv =  tfv.transform(dfs.joke_text.values)

In [0]:
predictions2 = clf.predict(test_tfv)

In [0]:
predictions2

array([-1.12554534, -1.12554534, -1.12554534, ...,  1.71931614,
        1.71931614,  1.71931614])

In [0]:
dfs['Rating'] = predictions2

In [0]:
dfs.head()

,id,user_id,joke_id,joke_text,prediction,Rating
0,6194_11,6194,11,What's the difference between a used tire and ...,-1.125545,-1.125545
1,13494_11,13494,11,What's the difference between a used tire and ...,-1.125545,-1.125545
2,35167_11,35167,11,What's the difference between a used tire and ...,-1.125545,-1.125545
3,25066_11,25066,11,What's the difference between a used tire and ...,-1.125545,-1.125545
4,25103_11,25103,11,What's the difference between a used tire and ...,-1.125545,-1.125545

In [0]:
dfsub= dfs[['id','Rating']]

In [0]:
dfsub.head()

         id  prediction
0   6194_11   -1.125545
1  13494_11   -1.125545
2  35167_11   -1.125545
3  25066_11   -1.125545
4  25103_11   -1.125545

In [0]:
dfsub.to_csv('submission.csv', index=False)

In [0]:
# Submitted on 24-12-2018 at 11:52PM IST to AnalyticsVidhya,  and placed 29th https://datahack.analyticsvidhya.com/contest/jester-practice-problem/

In [0]:
clf = SVR(kernel='linear', gamma='scale', degree= 2, C=1.0, epsilon=0.1)
clf.fit(xtrain_tfv, ytrain)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=2, epsilon=0.1, gamma='scale',
  kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [0]:
predictions = clf.predict(xvalid_tfv)

In [0]:
mean_squared_error(yvalid, predictions)

1.9245415316813326

In [0]:
predictions2 = clf.predict(test_tfv)

In [0]:
dfs['Rating'] = predictions2

In [0]:
dfsub= dfs[['id','Rating']]

In [0]:
dfsub.to_csv('submission.csv', index=False)

In [0]:
params = {'n_estimators': 450, 'max_depth': 4, 'min_samples_split': 2,
          'learning_rate': 0.01, 'loss': 'lad'}
clf = ensemble.GradientBoostingRegressor(**params)

In [0]:
clf.fit(xtrain_tfv, ytrain)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.01, loss='lad', max_depth=4,
             max_features=None, max_leaf_nodes=None,
             min_impurity_decrease=0.0, min_impurity_split=None,
             min_samples_leaf=1, min_samples_split=2,
             min_weight_fraction_leaf=0.0, n_estimators=450,
             n_iter_no_change=None, presort='auto', random_state=None,
             subsample=1.0, tol=0.0001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [0]:
predictions = clf.predict(xvalid_tfv)

In [0]:
mean_squared_error(yvalid, predictions)

1.7573553043597026

In [0]:
predictions2 = clf.predict(test_tfv)

In [0]:
dfs['Rating'] = predictions2

In [0]:
dfsub= dfs[['id','Rating']]

In [0]:
dfsub.to_csv('submission.csv', index=False)

In [0]:
y = dfz.Avg_Rating.values

In [0]:
dfz=df3.groupby(['joke_id','joke_text','user_id'], as_index= False)['Rating'].mean().rename(columns={'Rating':'Avg_Rating'})

In [0]:
dfz.head()

,joke_id,joke_text,user_id,Avg_Rating
0,1,Q. What's O. J. Simpson's web address? A. Slas...,1,0.219
1,1,Q. What's O. J. Simpson's web address? A. Slas...,2,-9.688
2,1,Q. What's O. J. Simpson's web address? A. Slas...,4,6.906
3,1,Q. What's O. J. Simpson's web address? A. Slas...,5,-0.031
4,1,Q. What's O. J. Simpson's web address? A. Slas...,7,6.219

In [0]:
xtrain, xvalid, ytrain, yvalid = train_test_split(dfz[['joke_text','user_id']], y, 
                                                  random_state=42, 
                                                  test_size=0.3, shuffle=True)

In [0]:
union = FeatureUnion([("tfv", tfv.transform(list(xtrain) + list(xvalid))),
                      ("wc", cv.transform(list(xtrain) + list(xvalid)))])

TypeError: ignored

In [0]:
print('\nGetting sentiments...')
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
sia = SIA()
sentiments = np.zeros(len(dfz))
# for _, row in train_df.sample(10).iterrows():
#     print(row.question_text, sia.polarity_scores(row.question_text))

for i, (_, row) in tqdm_notebook(enumerate(train_df.iterrows()), total=train_n):
    sentiments[i] = sia.polarity_scores(row.question_text)['compound']

train_df['sentiment'] = pd.Series(sentiments)
train_df['sentiment_target'] = (train_df['sentiment'] + 1) / 2

FileNotFoundError: ignored

In [0]:
dfz.head()

   joke_id                                          joke_text  Avg_Rating
0        1  Q. What's O. J. Simpson's web address? A. Slas...   -2.246770
1        2  How many feminists does it take to screw in a ...   -1.933251
2        3  Q. Did you hear about the dyslexic devil worsh...   -0.671942
3        4  They asked the Japanese visitor if they have e...   -0.604674
4        5  Q: What did the blind person say when given so...   -1.415667

In [0]:
cv=CountVectorizer(max_df=0.85,max_features=10000)
word_count_vector=cv.fit_transform((list(xtrain) + list(xvalid)))

In [0]:
xtrain_tfv =  cv.transform(xtrain) 
xvalid_tfv = cv.transform(xvalid)

In [0]:
clf = LinearRegression()
clf.fit(xtrain_tfv, ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [0]:
predictions = clf.predict(xvalid_tfv)

In [0]:
mean_squared_error(yvalid, predictions)

2.3516161821220027